*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff--title: 'Press Start 2P', sans-serif;
    --ff--subtitile: 'Michroma', sans-serif;
    --ff--text: 'Namun Gothic Coding', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-ablue: #CBF3D2;
    --clr-lblue: #b7c0ee;
    --clr-vbcrayola: #7067CF;
    --clr-mpurple: #7B287D;
    --clr-dpruple: #330C2F;
    
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.175em rgba(0,0,0,0.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem; 
    }
}

/*General Styles */

html {
    scroll-behavior: smooth;
}

body{
    background: var(--clr-dark);
    color: var(--clr-dpruple);
    margin: 0;
    font-family: var(--ff--text);
    font-size: var(--fs-body);
    line-height: 1,8;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-dpruple);
    outline-offset: 3px;
}

/* Button */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-lblue);
    color: var(--clr-mpurple);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--clr-dpruple);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);

}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size:var(--fs-h3)
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-vbcrayola);
    padding: .25em 1em;
    font-family: var(--ff--subtitile);
    margin-bottom: 1em;
}


.section__subtitle--projects {
    color: var(--clr-lblue);
    font-weight: bold;
    margin-bottom: 2em;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    min-width: 100px;
}

/* Navigation button setup */

.navigation {
    position: fixed;
    background: var(--clr-dpruple);
    color: var(--clr-ablue);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.navigation_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__link {
    color: var(--clr-lblue);
    font-weight: var(--fw-bold);
    font-size: var(--fw-reg);
    text-decoration: none;
}

.navigation__link:hover {
    color: var(--clr-ablue);
}

.navigation-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

/* Navigation button Animation .Js Script */

.navigation-open .navigation {
    transform: translateX(0);
}

.navigation-open .navigation-toggle{
    position: fixed;
}

.navigation-open .hamburger {
    transform: rotate(.625turn);
}

.navigation-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.navigation-open .hamburger::after {
    opacity: 0;
}


/* Navigation hamburger */

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-vbcrayola);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px ;}

/* Intro section style */

.intro {
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtittle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    }

}

/* Who i am background and spacing*/

.who--i--am {
    max-width: 1000px;
    margin: 0 auto;
    background-color:var(--clr-mpurple);
    background-size: cover;
    color: var(--clr-lblue);
    text-align: center;
}

.section__title--who--i--am{
    color: var(--clr-dpruple);
    position: relative;
    
}

.section__title--who--i--am::after{
    content: '';
    display: block;
    width: 5em;
    height: 0.5px;
    margin: 0.25em auto 1em;
    background: currentColor;
    opacity: 0.5;
}

.Goals {
    margin-bottom: 4em;
}

/* Who i am Text */

@media (min-width: 3000px){
    .who--i--am {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .who--i--am + .who--i--am {
        margin-left: 2em;
    }
}


/* Portfolio backgound and spacing*/

.projects {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--clr-mpurple);
    color: var(--clr-dpruple);
    text-align: center;
}

@media (min-width: 3000px){
    .projects {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-mpurple);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.5);
    opacity: .75;
}

/* Footer style/design  */ 

.footer {
    background: var(--clr-dpruple);
    color: var(--clr-ablue);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--ff--subtitile);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;            
}

.footer__link:hover {
    text-decoration: underline;
}

/* Socials Icons listed horizontal */

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

/* Socials Icon Spacing*/

.social-list__item {
    margin: 0 .0em;
}

/* Padding to icons for easier pressing */

.social-list__link {
    padding: 0.5em;
}


/* Project 1 Page */

.portfolio-one {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-one p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}